.login-container .login-radio{
  display: flex;
  align-items: center;
}
.login-container .login-radio .am-radio {
  padding: 2.5px;
  border: 1px solid #108ee9;
  border-radius: 50%;
  margin-right: 5px;
}
.login-container .login-radio-item {
  /* border-bottom: 1px solid #ddd; */
}

.login-container .login-radio-text {
  color: #888888;
}